  .ServicioIncluido{
    background-color: lightgoldenrodyellow!important;
}
#TablaProducto > tbody > tr:active{
    background-color: darkgray!important;
}


input[type=text] {
    border-radius: 3px;
    padding: 5px;
    border: solid 1px rgb(169,169,169);
}

select {
    border-radius: 3px;
}

input[type=text]:focus {
    border-color: #007bff;
}